beautifulsoup4==4.8.0
certifi==2022.12.7
chardet==3.0.4
Click==7.0
Flask==1.1.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1

prettytable==0.7.2
requests==2.22.0
soupsieve==1.9.4
urllib3==1.25.6
Werkzeug==0.16.0
youtube-dl==2019.9.28
youtube-mp3-downloader==1.4
